doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/css/jtable-themes/metro/blue/jtable.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')

    script(src='/js/jquery.min.js')
    script(src='/js/jquery-ui.min.js')
    script(src='/js/jquery.jtable.min.js')
    script(src='/js/jquery.jtable.ua.js')
  body
    block content
