doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/css/jtable/metro/blue/jtable.min.css')
    link(rel='stylesheet', href='/css/external/jquery-ui/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(src='/js/jquery/jquery.min.js')
    script(src='/js/jquery-ui/jquery-ui.min.js')
    script(src='/js/jtable/jquery.jtable.min.js')
    script(src='/js/jtable/jquery.jtable.ua.js')
  body
    block content
